.contactCard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px 20px 10px 20px;
  width: 200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 220px;
  white-space: wrap;
  overflow: hidden;
  interpolate-size:allow-keywords;
  transition: height 0.5s;

  &:hover {
    border: 1px solid #d7def8;
    box-shadow: 0 0 1px 4px #d7def8;
    height: min-content;
  }

  h2 {
    margin-top: 0;
    font-size: 1rem;
  }

  @media (max-width: 600px) {
    width: 100%;
  }
}

